<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="myfooter">
    <div class="footer">
	    	<div class="footerTop">
	    		<div class="index-container clearfix">
	    			<!--<div class="left footerTopLf">
	    				<img src="images/wb.png" class="xitufooterIMg" />
	    			</div>-->
	    			<div class="left footerNewLf">
	    				<div class="footerTopMiddleTop">
	    				<p class="footerTopTl">
	    					<img th:src="@{/images/pingtai.png}" />
	    					平台介绍
	    				</p>
	    				<div class="footerTopText">
	    					平台围绕稀土领域进行信息监测与情报服务，结合文献情报中心的文献服务、情报咨询服务等，为稀土研究相关科研机构、政府部门、企业等提供产业技术情报服务和科技咨询服务。
	    				</div>
	    			</div>
	    			</div>
	    			
	    		    <div class="left footerMap">
	    				<p class="footerTopTl">
	    					<img th:src="@{/images/jg.png}" />
	    					网站地图
	    				</p>
	    				<div class="clearfix">
	    					<div class="left footerMapGp">
	    						<p class="footerMapGpTl">
	    							知识服务
	    						</p>
	    						<ul>
	    							<li>
	    								<a href="#">情报服务</a>
	    							</li>
	    							<li>
	    								<a href="#">专利检索</a>
	    							</li>
	    							<li>
	    								<a href="#">文献检索</a>
	    							</li>
	    						</ul>
	    					</div>
	    					<div class="left footerMapGp">
	    						<p class="footerMapGpTl">
	    							稀土智库
	    						</p>
	    						<ul>
	    							<li>
	    								<a href="#">实时价格</a>
	    							</li>
	    							<li>
	    								<a href="#">行业人才</a>
	    							</li>
	    							<li>
	    								<a href="#">重点机构</a>
	    							</li>
	    							<li>
	    								<a href="#">原料分布</a>
	    							</li>
	    							<li>
	    								<a href="#">研究报告</a>
	    							</li>
	    						</ul>
	    					</div>
	    					<div class="left footerMapGp">
	    						<p class="footerMapGpTl">
	    							材料计算
	    						</p>
	    						<ul>
	    							<li>
	    								<a href="#">材料计算</a>
	    							</li>
	    							
	    						</ul>
	    					</div>
	    					<div class="left footerMapGp">
	    						<p class="footerMapGpTl">
	    							产业监测
	    						</p>
	    						<ul>
	    							<li>
	    								<a href="#">动态监测</a>
	    							</li>
	    							<li>
	    								<a href="#">招标项目</a>
	    							</li>
	    							
	    						</ul>
	    					</div>
	    				</div>
	    			</div>
	    		    <div class="left footerTopLX">
	    		    	
	    		        <div class="footerTopText footerpartner">
	    		        	<p class="footerTopTl">	    				
	    				 	<img th:src="@{/images/jigou.png}" />合作机构
	    				    </p>
	    		        	<ul>
	    		        		<li>
	    		        			<a href="#">•&nbsp;中国科学院分院</a>
	    		        		</li>
	    		        		
	    		        		<li>
	    		        			<a href="#">•&nbsp;中国科学院文献情报中心</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;国家科学图书文献中心</a>
	    		        		</li>
	    		        	</ul>
	    		        </div>
	    		        
	    				<p class="footerTopTl">	    				
	    					<img th:src="@{/images/lianxifangshi.png}" />
	    					联系方式
	    				</p>
	    				<div class="footerTopText">
	    					<p>电话：010-82626611-6302</p>
                             <p>邮箱：chinakx@mail.las.ac.cn</p>
	    				</div>
	    			</div>
	    		    
	    		    <div class="right footerTopErw">
	    		    	<img th:src="@{/images/erw.png}" />
	    		    	<p>
	    		    		<em></em>扫码快速关注公众号
	    		    	</p>
	    		    </div>
	    		</div>
	    	</div>
	        <div class="footerB">
	        	<div class="index-container">
	        		版权所有 中国科学院包头稀土研发中心
	        	</div>
	        </div>
	    </div>
	    </div>
</html>