<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="myfooter">
    <div class="footer">
	    	<div class="footerTop">
	    		<div class="index-container clearfix">
	    			<!--<div class="left footerTopLf">
	    				<img src="images/wb.png" class="xitufooterIMg" />
	    			</div>-->
	    			<div class="left footerNewLf">
	    				<div class="footerTopMiddleTop">
	    				<p class="footerTopTl">
	    					<img th:src="@{/images/pingtai.png}" />
	    					平台介绍
	    				</p>
	    				<div class="footerTopText">
	    					平台围绕稀土领域进行信息监测与情报服务，结合文献情报中心的文献服务、情报咨询服务等，为稀土研究相关科研机构、政府部门、企业等提供产业技术情报服务和科技咨询服务。
	    				</div>
	    			</div>
	    			</div>
	    			
	    		    <div class="left footerMap">
	    				<p class="footerTopTl">
	    					<img th:src="@{/images/jg.png}" />
	    					网站地图
	    				</p>
	    				<div class="clearfix">
	    					<div class="left footerMapGp">
	    						<p class="footerMapGpTl">
	    							<a id="zhishifuwu1" href="#"><font color="white">情报服务</font></a>
	    						</p>
	    						<ul>
	    							<li>
	    								<a id="zhishifuwu2" href="#"><font color="white">科技查新</font></a>
	    							</li>
	    							<li>
	    								<a id="zhishifuwu3" href="#"><font color="white">产业情报</font></a>
	    							</li>
	    							<li>
	    								<a id="zhishifuwu4" href="#"><font color="white">知识产权</font></a>
	    							</li>
	    							<li>
	    								<a  id="zhishifuwu5" href="#"><font color="white">决策咨询</font></a>
	    							</li>
	    						</ul>
	    					</div>
	    					<div class="left footerMapGp">
	    						<p class="footerMapGpTl">
	    							<a id="xituzhiku1" href="#"><font color="white">稀土智库</font></a>
	    						</p>
	    						<ul>
	    							<li>
	    								<a id="xituzhiku2" href="#"><font color="white">实时价格</font></a>
	    							</li>
	    							<li>
	    								<a id="xituzhiku3" href="#"><font color="white">行业人才</font></a>
	    							</li>
	    							<li>
	    								<a id="xituzhiku4" href="#"><font color="white">重点机构</font></a>
	    							</li>
	    							<li>
	    								<a id="xituzhiku5" href="#"><font color="white">原料分布</font></a>
	    							</li>
	    							<li>
	    								<a id="xituzhiku6" href="#"><font color="white">研究报告</font></a>
	    							</li>
	    						</ul>
	    					</div>
	    					<div class="left footerMapGp">
	    						<p class="footerMapGpTl">
	    							<a id="cailiaojisuan1" href="#"><font color="white">材料计算</font></a>
	    						</p>
	    						<ul>
	    							<li>
	    								<a id="cailiaojisuan2" href="#"><font color="white">材料计算</font></a>
	    							</li>
	    							
	    						</ul>
	    					</div>
	    					<div class="left footerMapGp">
	    						<p class="footerMapGpTl">
	    							<a id="chanyejiance1" href="#"><font color="white">产业监测</font></a>
	    						</p>
	    						<ul>
	    							<li>
	    								<a id="chanyejiance2" href="#"><font color="white">产业监测</font></a>
	    							</li>
	    							<li>
	    								<a id="chanyejiance3" href="#"><font color="white">招标项目</font></a>
	    							</li>
	    							
	    						</ul>
	    					</div>
	    				</div>
	    			</div>
	    		    <div class="left footerTopLX">
	    		    	
	    		        <div class="footerTopText footerpartner">
	    		        	<p class="footerTopTl">	    				
	    				 	<img th:src="@{/images/jigou.png}" />合作机构
	    				    </p>
	    		        	<ul>
	    		        		<li>
	    		        			<a href="#">•&nbsp;中国科学院包头稀土研发中心</a>
	    		        		</li>
	    		        		
	    		        		<li>
	    		        			<a href="#">•&nbsp;中国科学院文献情报中心</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;国家科学图书文献中心</a>
	    		        		</li>
	    		        	</ul>
	    		        </div>
	    		        
	    				<p class="footerTopTl">	    				
	    					<img th:src="@{/images/lianxifangshi.png}" />
	    					联系方式
	    				</p>
	    				<div class="footerTopText">
	    					<p>电话：0472-5179029</p>
                             
	    				</div>
	    			</div>
	    		    
	    		    <div class="right footerTopErw">
	    		    	<img th:src="@{/images/erw.png}" />
	    		    	<p>
	    		    		<em></em>扫码快速关注公众号
	    		    	</p>
	    		    </div>
	    		</div>
	    	</div>
	        <div class="footerB">
	        	<div class="index-container">
	        		版权所有 中国科学院包头稀土研发中心
	        	</div>
	        </div>
	    </div>
	    </div>
</html>