<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/xinit.css}" />
		<link rel="stylesheet" th:href="@{/css/xmain.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}" ></script>
		
		<script type="text/javascript" th:src="@{/js/jquery.cookie.js}" ></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
	<style type="text/css">

    

    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}

    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}

</style>
	</head>
	<body>
		<div class="nyMain">
			<div class="nycontainer">
			<div class="head">
			<div class="clearfix">
				<a href="/" class="left logo">
					<img th:src="@{/ximages/logo.png}" />
				</a>
				<!-- <a href="/" class="left headBack">
					<<返回首页
				</a>
				<div class="left headsuos">
					<em></em>
					<input type="button" class="headsuosBtn" value="搜索" onClick="search();"/>
					<input type="text" class="headsuosInp" th:text="${query}" id="keywords"/>
				</div> -->
				<div class="left menu clearfix">
					<a href="/">平台首页</a>
					<a id="xituzhiku" th:href="@{/patent/agmount}">稀土智库</a>
					<a id="cailiaojisuan" th:href="@{/material/calculate}">材料计算</a>
					<a id="chanyejiance" th:href="@{/jiance/jiancelist}">产业监测</a>
					<a id="zhishifuwu" th:href="@{/zhishifuwu/zhishifuwu}">情报服务</a>
					<a th:href="@{/hezuo/jiaoliu}">合作交流</a>
					<a th:href="@{/guanyu/women}">关于我们</a>
					
				</div>
				<div th:replace="qiantaidenglu :: myqiantaidenglu"></div>
			</div>
		</div>              
		    
			</div>
			<div class="nycontainer rencaiM">
				<div class="rencaiTl">
					关于我们
				</div>
				<div class="rencaiNr clearfix">
					<div class="rencaiLfg left">
						<img th:src="@{/images/guan1.png}" />
						
					</div>
				   
				    <div class="rencaiRtg right">
				    	<span class="chaxinfwgpg" style="font-weight: bold;">稀土大数据平台依托中国科学院包头稀土研发中心，联合中国科学院文献情报中心、中国科学院金属所、中国科学院宁波材料所等研究单位共同建立。</span>
				    	<br/>
				    	<br/>
					        <div class="chaxinfwgpjg"  >
					    		该平台重点开发稀土元素导航、稀土信息动态监测、情报对接服务及稀土材料模拟计算；
					    	</div>
					    	 <div class="chaxinfwgpjg"  >
					    		实时追踪稀土元素及其化合物的理化性质、元素应用成果、文献专利、相关技术研发、科研创新等信息资源；
					    	</div>
					    	 <div class="chaxinfwgpjg"  >
					    		深度挖掘稀土领域科研、产业、市场、机构等数据；
					    	</div>
					    	<div class="chaxinfwgpjg"  >
					    		开展关键知识产权技术动态追踪，实时监测全球知识产权信息，对稀土领域知识产权技术进行研究；
					    	</div>
					    	<div class="chaxinfwgpjg"  >
					    		提供科技查新服务、情报对接服务、稀土材料模拟计算服务；
					    	</div>
					    	<div class="chaxinfwgpjg"  >
					    		最终建立稀土元素情报、咨询、利用、设计和运营管理智能一体化服务体系。
					    	</div>
				    	
				    </div>
				</div>
				<div class="rencaiNr clearfix">
					<div class="rencaiRtgg left" style="width:500px">
						<span class="chaxinfwgpg" style="font-weight: bold;padding-bottom:20px">我们的目标</span>
				    	<br/>
				    	<br/>
					        <div class="chaxinfwgpjg">
					    		稀土大数据平台瞄准稀土元素的基础理论、新材料、产业链等关键环节，构筑我国稀土领域科学研究、产业发展的大数据公共支撑服务平台。
					    	</div>
					    	 <div class="chaxinfwgpjg"  >
					    		为用户提供稀土领域的信息搜索、情报分析、数据应用等服务，同时为稀土新材料的模拟计算、设计应用提供智能服务打下坚实基础。
					    	</div>
					    	 <div class="chaxinfwgpjg"  >
					    		建立稀土元素科学研究向产业发展的高速通道，为稀土新材料实现精准设计与模拟计算提供科学保障。
					    	</div>
					    	<div style="padding-top:35px">
						    	<div class="left">
						    		<img th:src="@{/images/guan3.png}" />
						    	</div>
						    	<div class="right" style="padding-top:45px">
						    		<div class="chaxinfwgpjg" style="font-weight: bold;padding-left:10px">
						    		联系电话：0472-5179029
						    	</div>
						    	<div class="chaxinfwgpjg" style="font-weight: bold;padding-left:10px" >
						    		联系地址：内蒙古包头市稀土高新区稀土大街规划路8-15号
						    	</div>
						    	</div>
					    	</div>
						
					</div>
				   <div class="rencaiLfg right" style="width:570px;height:460px;border:#ccc solid 1px;" id="dituContent">
				   
				   </div>
				    <!-- <div class="rencaiLfg right">
				    	
				    	<img th:src="@{/images/guan2.png}" />
				    </div> -->
				</div>
				
			</div>
			</div>
		
		<div th:replace="footer :: myfooter"></div>
		
		<script type="text/javascript" th:src="@{/js/main.js}" ></script>
		<script type="text/javascript" th:src="@{/js/common.js}" ></script>
		<script type="text/javascript">
			
			
			var name = "氧化钆";
			var time = "3";
			var conditions = {"time":time, "name":name}
			$(document).ready(function() {

				
				if($.cookie("role")!=null && $.cookie("role")==="普通用户"){
					$("#backgroud").css('display','none'); 
				}
				$("#logoinName").html($.cookie("nickName"));
			    $("#headImg").attr("src", $.cookie("headImg"));
			    initMap();
			});
		    
		
			
			 function initMap(){

			        createMap();//创建地图

			        setMapEvent();//设置地图事件

			        addMapControl();//向地图添加控件

			        addMarker();//向地图中添加marker

			    }

			    

			    //创建地图函数：

			    function createMap(){

			        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图

			        var point = new BMap.Point(109.898657,40.620079);//定义一个中心点坐标

			        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中

			        window.map = map;//将map变量存储在全局

			    }

			    

			    //地图事件设置函数：

			    function setMapEvent(){

			        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)

			        map.enableScrollWheelZoom();//启用地图滚轮放大缩小

			        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)

			        map.enableKeyboard();//启用键盘上下左右键移动地图

			    }

			    

			    //地图控件添加函数：

			    function addMapControl(){

			        //向地图中添加缩放控件

			  var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});

			  map.addControl(ctrl_nav);

			        //向地图中添加缩略图控件

			  var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});

			  map.addControl(ctrl_ove);

			        //向地图中添加比例尺控件

			  var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});

			  map.addControl(ctrl_sca);

			    }

			    

			    //标注点数组

			    var markerArr = [{title:"内蒙古包头市稀土高新区稀土大街规划路8-15号",content:"我的备注",point:"109.898343|40.620545",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}

			     ];

			    //创建marker

			    function addMarker(){

			        for(var i=0;i<markerArr.length;i++){

			            var json = markerArr[i];

			            var p0 = json.point.split("|")[0];

			            var p1 = json.point.split("|")[1];

			            var point = new BMap.Point(p0,p1);

			      var iconImg = createIcon(json.icon);

			            var marker = new BMap.Marker(point,{icon:iconImg});

			      var iw = createInfoWindow(i);

			      var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});

			      marker.setLabel(label);

			            map.addOverlay(marker);

			            label.setStyle({

			                        borderColor:"#808080",

			                        color:"#333",

			                        cursor:"pointer"

			            });

			      

			      (function(){

			        var index = i;

			        var _iw = createInfoWindow(i);

			        var _marker = marker;

			        _marker.addEventListener("click",function(){

			            this.openInfoWindow(_iw);

			          });

			          _iw.addEventListener("open",function(){

			            _marker.getLabel().hide();

			          })

			          _iw.addEventListener("close",function(){

			            _marker.getLabel().show();

			          })

			        label.addEventListener("click",function(){

			            _marker.openInfoWindow(_iw);

			          })

			        if(!!json.isOpen){

			          label.hide();

			          _marker.openInfoWindow(_iw);

			        }

			      })()

			        }

			    }

			    //创建InfoWindow

			    function createInfoWindow(i){

			        var json = markerArr[i];

			        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");

			        return iw;

			    }

			    //创建一个Icon

			    function createIcon(json){

			        var icon = new BMap.Icon("http://api.map.baidu.com/lbsapi/creatmap/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})

			        return icon;

			    }

			    

		   
		</script>
	</body>
</html>
