<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="common-head">
        <meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/xinit.css}" />
		<link rel="stylesheet" th:href="@{/css/xmain.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}" ></script>
		<script type="text/javascript" th:src="@{/js/jquery.cookie.js}" ></script>
		<script type="text/javascript" th:src="@{/js/common.js}" ></script>
    </head>
</html>