<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{head :: common-head}">
	</head>
	<body class="manageBody">
		
		<div th:replace="houtaizuocecaidan :: myzuocecaidan"></div>
		<div th:replace="houtaidenglu :: myhoutaidenglu"></div>
		<div class="manageNr">
			<div class="usermanageOne">
				<form>
					<div class="clearfix">
						<span class="left usermanageOneTl" th:text="'分析报告' + '(' + ${totalCount} + ')'">
						</span>
						<a th:href="@{/report/get(disable='0')}" class="left manageproAddA">
						新增报告
						</a>
						<div class="right usermanageOneSS">
							<input type="text" />
							<em></em>
						</div>
					</div>
					
				</form>
			</div>
		    <div class="usermanageTwo">
		    	<table cellpadding="0" cellspacing="0" width="100%" class="usermanageTable">
		    		<tr>
		    			<th>
		    				报告名称
		    			</th>
		    			<th>
		    				完成单位
		    			</th>
		    			<th>
		    				分类主题
		    			</th>
		    			<th>
		    				发布时间
		    			</th>
		    			
		    			<th>
		    				操作
		    			</th>
		    			
		    		</tr>
		    		<tr th:each="report : ${reportList}">
		    			<td>
		    				<a th:href="@{/report/get(id=${report.id},disable='0')}" class="colorBlue" th:text="${report.name}">
		    				</a>
		    			</td>
		    			<td th:text="${report.unit}">
		    			</td>
		    			<td>
		    				<span class="colorGreen" th:text="${report.type}">生物医药</span>
		    			</td>
		    			
		    			<td th:text="${report.ptime}">
		    			</td>
		    			<td>
		    				<a th:href="@{/report/get(id=${report.id},disable='0')}" class="manageProBj">
		    					编辑
		    				</a>
		    				<a th:href="@{/report/delete(id=${report.id})}" onclick="if(confirm('确定删除?')==false)return false;" class="manageProsc">
		    					删除
		    				</a>
		    			</td>
		    			
		    		</tr>
		    	</table>
		        <div class="page">
		        	<a th:style="'display:' + @{((${pageIndex}+1) == 1 ? 'none' : 'inline-block')} + ''" th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('token')}" th:href="@{/report/list(token=${cookie.getValue()},pageIndex=0,pageSize=10)}">首页</a>
      				<a th:style="'display:' + @{((${pageIndex}+1) == 1 ? 'none' : 'inline-block')} + ''" th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('token')}" th:href="@{/report/list(token=${cookie.getValue()},pageIndex=(${pageIndex}-1),pageSize=10)}">上一页</a>
		        	<a th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('token')}" th:href="@{/report/list(token=${cookie.getValue()},pageIndex=(${pageIndex}),pageSize=10)}" th:text="(${pageIndex}+1) + '/' + ${totalPages}" ></a>
		        	<a th:style="'display:' + @{((${pageIndex}+1) == ${totalPages} ? 'none' : 'inline-block')} + ''" th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('token')}" th:href="@{/report/list(token=${cookie.getValue()},pageIndex=(${pageIndex}+1),pageSize=10)}">下一页<em>></em></a>
		        	<a th:style="'display:' + @{((${pageIndex}+1) == ${totalPages} ? 'none' : 'inline-block')} + ''" th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('token')}" th:href="@{/report/list(token=${cookie.getValue()},pageIndex=(${totalPages}-1),pageSize=10)}">尾页<em>></em></a>
		        </div>
		    </div>
		</div>
		<script type="text/javascript" th:src="@{/js/main.js}" ></script>
		 <script type="text/javascript" th:inline="javascript">
 			$(document).ready(function () {
				showLoginInfo();
		 	});
		</script>
	</body>
</html>
