<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/init.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}" ></script>
	</head>
	<body class="manageBody">
		<div class="manageLf">
			<div class="manageLfM">
				<div class="manageLfLogo">
					<img th:src="@{/ximages/logo.png}" />
				</div>
				<a th:href="@{/zhishifuwu/shenqinglist(front=0)}" class="manageMenuF">			
						订单管理
				</a>
				<a th:href="@{/project/list(pageSize=10,pageIndex=0)}" class="manageMenuF">		
						项目信息
				</a>
				<a href="javascript:;" class="manageMenuF">		
						信息采集<em></em>
				</a>
				<div class="manageMenuS">
					<!-- <a href="#">
						采集任务
					</a> -->
					<a th:href="@{/task/getTaskList}" >
						结果列表
					</a>
					<!-- <a href="#">
						采集日志
					</a> -->
				</div>
				<a href="javascript:;" class="manageMenuF">		
						企业智库<em></em>
				</a>
				<div class="manageMenuS">
					<a th:href="@{/report/list(pageSize=10,pageIndex=0)}">
						分析报告
					</a>
					<a th:href="@{/org/list}">
						重点机构
					</a>
					<a th:href="@{/expert/list(pageSize=10,pageIndex=0)}">
						行业人才
					</a>
				</div>
				<a th:href="@{/user/list(pageIndex=0,pageSize=10)}" class="manageMenuF">		
						用户管理
				</a>
				<a th:href="@{/item/config}" class="manageMenuF">		
						分类设置
				</a>
			</div>
		</div>
		<div class="managHead clearfix">
			<div class="right manageTx">
				<div class="clearfix">
				<img th:src="@{/images/tx.jpeg}" class="manageTxImg left" />
				<span class="left manageTxName">张伟</span>
				<em class="manageTxIco left"></em>
				</div>
			    <div class="loginAfterNo">
								
								<div class="loginAfterNoM">
									<em class="loginAfterNoMSj"></em>
									<p>
										<span class="loginName">
											张伟
										</span>
										<span class="vip">
											超级管理员
										</span>
									</p>
									<p>
										<a href="#">
											<img th:src="@{/images/tuichu.png}" />
											退出
										</a>
									</p>
									
								</div>
							</div>
			</div>
		</div>
		<div class="manageNr">
			<div class="M_mess">
				<div class="M_messOne">
					订单详情 
				</div>
				<div class="M_messTwoTl clearfix">
					<a href="javascript:displayorder()" class="ahover">
						订单内容
					</a>
					<a href="javascript:displayuser()">
						主联系人
					</a>
					<a href="javascript:displayfuuser()">
						相关联系人
					</a>
				</div>
			    <div class="M_messTwoB">
			    	<div class="M_messTwoBm active">
			    		<form>
			    			<div class="manageordercon" id="ordercontent" th:object="${order}" >
			    			<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									订单号：
								</span>
								<div class="orderconTextGpRt" th:text="*{uuid}">
									
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									项目名称：
								</span>
								<div class="orderconTextGpRt" th:text="*{title}">
									
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									查新范围：
								</span>
								<div class="orderconTextGpRt" th:text="*{chaxinfanwei}">
									
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									 查新目的：
								</span>
								<div class="orderconTextGpRt" th:text="*{mudi}">
									
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									项目科学要点：
								</span>
								<div class="orderconTextGpRt" th:text="*{kexueyaodian}">
									
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									参考检索词：
								</span>
								<div class="orderconTextGpRt" th:text="*{jiansuoci}">
									
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									检索点：
								</span>
								<div class="orderconTextGpRt" th:text="*{jiansuodian}">
									
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									学科分类：
								</span>
								<div class="orderconTextGpRt" th:text="*{xueke}">
									
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									 产业分类：
								</span>
								<div class="orderconTextGpRt" th:text="*{chanye}">
									
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									备注：
								</span>
								<div class="orderconTextGpRt" th:text="*{beizhu}">
									
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									附件： 
								</span>
								<div class="orderconTextGpRt" th:each="s : ${ids}" th:if=" ${not #lists.isEmpty(ids)}">
									<p>
										<span th:text="${#strings.substringAfter(s,'_')} "></span>
										<a th:href="@{/file/fileDownload(filename=${s})}" class="colorBlue">下载</a>
										
									</p>
								</div>
							</div>
			    		   <div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									订单状态：
								</span>
								<div class="orderconTextGpRt" th:text="*{chulizhuangtai}">
								
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
								提交时间：
								</span>
								<div class="orderconTextGpRt" th:text="*{shenqingshijian}">
								
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
								处理时间：
								</span>
								<div class="orderconTextGpRt" th:text="*{chulishijian}">
								
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName" >
								处理人：
								</span>
								<div class="orderconTextGpRt" th:text="*{chuliren}">
								
								</div>
								
							</div>
							<div class="orderconTextGp clearfix" id="showfujian" style="display:none">
								<span class="left orderconTextGpName" >
								附件上传： 
								</span>
								<div class="orderconTextGpRt" id="fujianname">
								
								</div>
								
							</div>
							<div class="orderconTextGp clearfix" id="shangchuanfujian">
								<span class="left orderconTextGpName">
								附件上传： 
								</span>
								
								<div class="chaxinupBtn1">
								<a href="javascript:;">
									+ 点此上传附件
								<input id="frontendFile" type="file" name="frontendFile"/>
								<input type="hidden" id="chulirenfujianId" th:text="*{chulirenfujianId}"/>
								</a>
								</div>
								
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
								处理意见：
								</span>
								<div class="orderconTextGpRt">
								<textarea class="manageorderconTexta" name="chuliyijian" th:text="*{chuliyijian}" id="chuliyijian"></textarea>
								</div>
							</div>
							<div class="manageorderconbtn">
							
								<a th:if="${order.chulizhuangtai == '待处理'}" href="javascript:uptext('0')" class="btnblue">接单</a>
								<a th:if="${order.chulizhuangtai == '处理中'}" href="javascript:uptext('1')" class="btnblue">提交</a>
								<a th:if="${order.chulizhuangtai == '处理中'}" href="javascript:uptext('2')" class="btnblue">撤销</a>
							</div>
			    			</div>
			    		
			    		</form>
			    		<div class="manageordercon" id="lianxirencontent" th:object="${linkuser}" style="display:none">
			    			<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									姓名：
								</span>
								<div class="orderconTextGpRt" th:text="*{name}">
									
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									单位：
								</span>
								<div class="orderconTextGpRt" th:text="*{institution}">
									
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									手机：
								</span>
								<div class="orderconTextGpRt" th:text="*{telephone}">
									
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									 邮箱：
								</span>
								<div class="orderconTextGpRt" th:text="*{email}">
									
								</div>
							</div>
							</div>
							<div th:if=" ${fulinkuser!= null}" class="manageordercon" id="fulianxirencontent" th:object="${fulinkuser}" style="display:none">
			    			<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									姓名：
								</span>
								<div class="orderconTextGpRt" th:text="*{name}">
									
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									单位：
								</span>
								<div class="orderconTextGpRt" th:text="*{institution}">
									
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									手机：
								</span>
								<div class="orderconTextGpRt" th:text="*{telephone}">
									
								</div>
							</div>
							<div class="orderconTextGp clearfix">
								<span class="left orderconTextGpName">
									 邮箱：
								</span>
								<div class="orderconTextGpRt" th:text="*{email}">
									
								</div>
							</div>
							</div>
			    	</div>
			       
			    </div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/main.js}" ></script>
		<script type="text/javascript" th:inline="javascript">
		var tag = [[${tag}]];
		var fujianneme = [[${fujianneme}]];
		var chufujianId = [[${chufujianId}]];
		$(document).ready(function() { 
			  if(tag == '1'){
				  $("#shangchuanfujian").hide();
				  $("#showfujian").show();
				  if(fujianneme != null && fujianneme != '' && fujianneme != 'null'){
					  var con = "<span>";
					  con += fujianneme;
					  con += "</span>&nbsp;&nbsp;&nbsp;";
					  con += "<a href=\"/file/fileDownload?filename="+chufujianId+"\" class=\"colorBlue\">下载</a>";
					  $("#fujianname").html(con);
				  }
			  }
			  if(tag == '0'){
				  $("#shangchuanfujian").show();
				  $("#showfujian").hide();
			  }
		});
		var frontendId = null;
		var chulirenfujianId = '';
		
		 $("#frontendFile").live('change',function() {
				var formData = new FormData();
				formData.append('file', $('#frontendFile')[0].files[0]);
//				$('#inputFileID').replaceWith('<input id="file" type="file" name="file"  />');
				$.ajax({
					url : '/file/fileUpload/'+frontendId,
					type : 'POST',
					cache : false,
					data : formData,
					processData : false,
					contentType : false
				}).done(function(res) {
					//$("#frontendImg").attr('src',res.img);
					//$('#frontendPid').replaceWith('<p id="frontendPid">' + res.filename + '&nbsp;' + res.size + 'kb&nbsp;<a id="frontendDel" href="javascript:delFrontend()" class="colorRed">删除</a></p>');
					//$("#frontendShow").show();
					//$("#frontendUpload").hide();uploadtime
					//$("#frontendFileHidden").val(res.uuid + '_' + res.filename)
					//$("#frontendFileNameHidden").val(res.filename)
					//$("#frontendSizeHidden").val(res.size)
					//frontendId = res.uuid + '_' + res.filename;
					if(chulirenfujianId == ''){
						chulirenfujianId = res.uuid + '_' + res.filename;
					}else{
						chulirenfujianId = chulirenfujianId +res.uuid + '_' + res.filename;
					}
					$("#chulirenfujianId").val(chulirenfujianId);
					$("#shangchuanfujian").hide();
					$("#showfujian").show();
					
					showupload(res.filename,res.uploadtime,res.uuid + '_' + res.filename);
				}).fail(function(res) {
					alert("文件上传失败，请重试")
				});
				
			});
		function showupload(filename,uploadtime,uuid){
			 var con = '<div class=\"chaxinUplistgp clearfix\" id='+uuid+'>';
			 con += '<a href=\"#\" class=\"left chaxinUplistName\" style=\"height: 30px;width:20%\">';
			 con += filename;
			 con += '</a>';
			 con += '<span>';
			 con += uploadtime;
			 con += '</span>&nbsp;&nbsp;&nbsp;';
			 con += "<a href=\"javascript:delupload('"+uuid+"')\">";
			 con += '<font color=\"red\" size=\"3px\">删除</font>';
			 con += '</a>';
			 
			 con += '</div>';
			 $("#fujianname").html(con);
		 }
		function delupload(uuid){
			
			chulirenfujianId = chulirenfujianId.replace(uuid,'');
			$("#chulirenfujianId").val(chulirenfujianId);
			$("#showfujian").hide();
			$("#shangchuanfujian").show();
			
		 }
		
			function displayorder() {
			
				document.getElementById("lianxirencontent").style="display:none";
				document.getElementById("ordercontent").style="display:block";
				document.getElementById("fulianxirencontent").style="display:none";
		
			}
			function displayuser() {
				
				document.getElementById("ordercontent").style="display:none";
				document.getElementById("lianxirencontent").style="display:block";
				document.getElementById("fulianxirencontent").style="display:none";
		
			}
			function displayfuuser() {
				
				document.getElementById("ordercontent").style="display:none";
				document.getElementById("lianxirencontent").style="display:none";
				document.getElementById("fulianxirencontent").style="display:block";
		
			}
			var pageIndex =  [[${pageIndex}]];
			var pageSize =  [[${pageSize}]];
			var uuid =  [[${uuid}]];
			function uptext(type) {
				if(type==0){
					   window.location.href="/zhishifuwu/jiedan?uuid="+uuid+"&front=0&pageIndex="+pageIndex+"&pageSize="+pageSize;
				}
				if(type==1){
				   window.location.href="/zhishifuwu/tijiao?uuid="+uuid+"&front=0&pageIndex="+pageIndex+"&pageSize="+pageSize+"&chulirenfujianId="+$("#chulirenfujianId").val()+"&chuliyijian="+ $("#chuliyijian").val();
				}
				if(type==2){
					   window.location.href="/zhishifuwu/chexiao?uuid="+uuid+"&front=0&pageIndex="+pageIndex+"&pageSize="+pageSize+"&chulirenfujianId="+$("#chulirenfujianId").val()+"&chuliyijian="+ $("#chuliyijian").val();
				}
			
		}
		
		</script>
	</body>
</html>
