<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/xinit.css}" />
		<link rel="stylesheet" th:href="@{/css/xmain.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}" ></script>
		<script type="text/javascript" th:src="@{/js/echarts.min.js}" ></script>
		<script type="text/javascript" th:src="@{/js/jquery.cookie.js}" ></script>
	</head>
	<body>
		<div class="nyMain">
			<div class="nycontainer">
			<div class="head">
			<div class="clearfix">
				<a href="/" class="left logo">
					<img th:src="@{/ximages/logo.png}" />
				</a>
				<a href="/" class="left headBack">
					<<返回首页
				</a>
				<div class="left headsuos">
					<em></em>
					<input type="button" class="headsuosBtn" value="搜索" onClick="search();"/>
					<input type="text" class="headsuosInp" th:text="${query}" id="keywords"/>
				</div>
				<div class="right">
					<!--登录前-->
					<!--<div class="loginbefore">
						<a href="javascript:;" class="loginBtn">登录</a><span>/</span><a href="loginBtn">注册</a>
					</div>-->
					<!--登陆后-->
					<div class="loginAfter">
						<div class="loginAfterM">
							<a href="#" class="loginAfterTx">
								<img id="headImg" th:src="@{/ximages/jiazai.png}" />
							</a>
							<div class="loginAfterNo">
								
								<div class="loginAfterNoM">
									<em class="loginAfterNoMSj"></em>
									<p>
										<!-- <span class="loginName" th:text="${user.account}"></span> -->
										<span class="loginName" id="logoinName"></span>
										<span class="vip">
										</span>
									</p>
									<p id="backgroud">
										<!-- <a th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('token')}"  th:href="@{/user/list(token=${cookie.getValue()},pageIndex=0,pageSize=10)}"> -->
										<a th:href="@{/user/list(pageIndex=0,pageSize=10)}">
											<img th:src="@{/ximages/houtai.png}" />
											进入管理后台
										</a>
									</p>
									<p>
										<a href="#">
											<img th:src="@{/ximages/dingdan.png}" />
											我的申请
										</a>
									</p>
									<p>
										<a id="quit" href="/">
											<img th:src="@{/ximages/tuichu.png}" />
											退出
										</a>
									</p>

								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>              
		    
			</div>
			<div class="nycontainer rencaiM">
				<div class="rencaiTl">
					实时价格
				</div>
				<div class="rencaiNr clearfix">
					<div class="rencaiLf left">
						<div class="rencaiLfTl">
							目录导航
						</div>
						<ul class="rencaiLfUl">
							<li>
								<a th:href="@{/patent/agmount}" class="ahover">
									<span>实时价格</span>
								</a>
							</li>
							<li>
								<a th:href="@{/patent/agcountry}">
									<span>原料分布</span>
								</a>
							</li>
							<li>
								<a th:href="@{/report/list(front=0)}">
									<span>分析报告</span>
								</a>
							</li>
							<li>
								<a th:href="@{/org/list(front=0)}">
									<span>重点机构</span>
								</a>
							</li>
							<li>
								<a th:href="@{/expert/list(front=0)}">
									<span>行业人才</span>
								</a>
							</li>
						</ul>
					</div>
				   
				    <div class="rencaiRt right">
				    	<form>
				    		<div class="recaiForm clearfix zhuanlOneNr">
				    			<span class="left zhuanlOne">
				    				价格走势
				    			</span>
				    			<div class="left zhuanlTwo">
				    				<a href="javascript:showleixing('jinsanyue')" class="ahover">
				    					近三月
				    				</a>
				    				<a href="javascript:showleixing('jinyinian')">
				    					近一年
				    				</a>
				    				<a href="javascript:showleixing('jinwunian')">
				    					近五年
				    				</a>
				    			</div>
				    			<div class="clearfix right">
			    				<select id="yuansu" class="left">
                            		<option th:each="item : ${items}" th:value="${item}" th:text="${item}"></option>
                        		</select>
				    			<!-- <input type="button" class="left shaixuanbtn" value="筛选"> -->
				    			</div>
				    		</div>
				    	</form>
				        
				    	<div class="zhuanlThree" id="leixing" style="width: 100%; height: 500px;">
				    		
				    	</div>
				        <div class="xitutable">
				        	<table cellpadding="0" cellspacing="0" width="100%">
				        		<tr>
				        			<th>
				        				化合物名称
				        			</th>
				        			<th>
				        				描述（规格、说明等）
				        			</th>
				        			<th>
				        				单位
				        			</th>
				        			<th>
				        				参考价(人民币)
				        			</th>
				        			<th>
				        				涨跌
				        			</th>
				        			<th>
				        				更新时间
				        			</th>
				        		</tr>
				        		<tr th:each="price : ${prices}">
				        			<td>
				        				<span class="colorBlue" th:text="${price.name}"></span>
				        			</td>
				        			<td th:text="${price.description}">
				        			</td>
				        			<td th:text="${price.unit}">
				        			</td>
				        			<td th:text="${price.price}">
				        			</td>
				        			<td>
				        				<span class="colorRed" th:text="${price.floating}"></span>
				        			</td>
				        			<td th:text="${price.updateTime}">
				        			</td>
				        		</tr>
				        	</table>
				        </div>
				    </div>
				</div>
			</div>
			</div>
		<div class="footer">
	    	<div class="footerTop">
	    		<div class="index-container clearfix">
	    			<div class="left footerTopLf">
	    				<img th:src="@{/ximages/wb.png}" class="xitufooterIMg" />
	    			</div>
	    			<div class="left footerTopMiddle">
	    				<div class="footerTopMiddleTop">
	    				<p class="footerTopTl">
	    					<img th:src="@{/ximages/pingtai.png}" />
	    					平台介绍
	    				</p>
	    				<div class="footerTopText">
	    					平台围绕稀土领域进行信息监测与情报服务，结合文献情报中心的文献服务、情报咨询服务等，为稀土研究相关科研机构、政府部门、企业等提供产业技术情报服务和科技咨询服务。
	    				</div>
	    				</div>
	    				<p class="footerTopTl">	    				
	    					<img th:src="@{/ximages/lianxifangshi.png}" />联系方式
	    				</p>
	    				<div class="footerTopText">
	    					<p>电话：010-82626611-6302</p>
                             <p>邮箱：chinakx@mail.las.ac.cn</p>
	    				</div>
	    			</div>
	    		    <div class="left footerTopLX">
	    		    	
	    		        <div class="footerTopText">
	    		        	<p class="footerTopTl">	    				
	    				 	<img th:src="@{/ximages/jigou.png}" />合作机构
	    				    </p>
	    		        	<ul>
	    		        		<li>
	    		        			<a href="#">•&nbsp;中国科学院分院</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;中国科学院文献情报中心</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;中国科学院分院</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;国家科学图书文献中心</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;中国科学院文献情报中心</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;国家科学图书文献中心</a>
	    		        		</li>
	    		        	</ul>
	    		        </div>
	    		    </div>
	    		    <div class="right footerTopErw">
	    		    	<img th:src="@{/ximages/erw.jpg}" />
	    		    	<p>
	    		    		<em></em>扫码快速关注公众号
	    		    	</p>
	    		    </div>
	    		</div>
	    	</div>
	        <!-- <div class="footerB">
	        	<div class="index-container">
	        		版权所有 @ 2017 沈阳高新区生物医药知识服务云平台 中国科学院文献情报中心,京ICP证030173号
	        	</div>
	        </div> -->
	    </div>
		
		<script type="text/javascript" th:src="@{/js/main.js}" ></script>
		<script type="text/javascript">
			
			var myChart = echarts.init(document.getElementById('leixing'));
			var name = "氧化钆";
			var time = "3";
			var conditions = {"time":"3", "name":name}
			$(document).ready(function() {

				showleixing('jinsanyue');
				if($.cookie("role")!=null && $.cookie("role")==="普通用户"){
					$("#backgroud").css('display','none'); 
				}
				$("#logoinName").html($.cookie("nickName"));
			    $("#headImg").attr("src", $.cookie("headImg"));
			});
		    
			function showleixing(type) {
				if(type == 'jinwunian'){
				}
				if(type == 'jinyinian'){
				}
				if(type == 'jinsanyue'){
					conditions = {"time":time, "name":name}
				}
				getGraph();
			}
			
			function getGraph() {
				$.ajax({
		            url:"/price/avg",
		            type:"post",
		            contentType: "application/json; charset=utf-8",
		            data: JSON.stringify(conditions),
		            dataType: "json",
		            success:function(data){
		            	
		                let x = [];
		    			let y = [];
		    			let avg = data.avg;
		    			$.each(avg, function(i) {
		    			   x.push(i);
		    			   y.push(avg[i]);
		    			});
		    			
						option = {
							
							tooltip: {
								trigger: 'axis'
							},
							grid: {
								left: '3%',
								right: '4%',
								bottom: '3%',
								containLabel: true
							},
							toolbox: {
								feature: {
									saveAsImage: {}
								}
							},
							xAxis: {
								type: 'category',
								data: x
							},
							yAxis: {
								type: 'value'
							},
							series: [
								{
									type:'line',
									stack: '总量',
									data: y,
									itemStyle : { normal: {label : {show: true}}}
								}
							]
						};

					   myChart.setOption(option);
		            },
		            error:function(e){
		                alert("获取报价失败！！");
		            }
		        });
			}
			
			$("#yuansu").change(function(){
				name = $("#yuansu").val();
				showleixing('jinsanyue');
			});
			
			
			function search(){
			    /*  window.location.href="http://127.0.0.1:8088/project/list?q=" + $("#keywords").val(); */
			     window.location.href="/patent/list?q=" + $("#keywords").val();
				/* window.location.href="http://47.104.7.73/patent/list?q=" + $("#keywords").val(); */
			}
			$("#keywords").keypress(function(e) {
	            var eCode = e.keyCode ? e.keyCode : e.which ? e.which : e.charCode;
	             if (eCode == 13){
	                 search();
	             }
	     	});
		</script>
	</body>
</html>
